*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;}


header{
    background-image: 
    linear-gradient(to top, rgba(0, 94, 47, 0.7), rgba(0, 94, 47,0.6)),
    url(../img/fon.jpg);
/* url()  100% */
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
color: white;
background-position: 20% 50%;
    
}
.wrapper{
    max-width: 980px;
    margin: 0 auto;
}
.header-top{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.logo{
    width: 85px;
    height: 85px;
    object-fit: contain;
}
.header_tel{
    display: flex;
    flex-direction: column;
}
.header_tel>a{
    font-size: 18px;
    color: #fff;
    margin: 4px 0;
    text-decoration: underline;
}
.header-text{
    display: flex;
    flex-direction: column;
}
.header-text>h3{
    margin: 5px ;
}
.link-img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.button:hover{
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

}
.header-button{
    width: 230px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #000;
    padding:  0;
}
span{
    color: yellow;
}
.header-main{
    display: flex;
    margin-bottom: 50px;
}
.header-sert{
    margin-right: 50px;
}
.header-sert>img{
    width: 240px;
    height: 340px;
}
.header-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-main{
    font-size: 31px;
    line-height: 35px;
}
.title-main>span{
    font-size: 31px;
}
.form-title{
    text-align: center;
    margin-bottom: 30px;
}
.header-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
}
.header-form::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url(../img/spinner.gif) center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.header-form._sending::after{
    opacity: 1;
    visibility: visible;
}
.header-form > input{
    width: 50%;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid rgb(109, 214, 255);
    padding: 3px 3px 3px 24px;
    height: 50px;
}
.header-form > input:placeholder-shown{
    font-size: 16px;
    font-weight: 300;
}
.header-form > input:focus{
    border: 0px;
    box-shadow: 0 0 15 #7a956b;
}
.header-form >button{
    font-weight: bold;
    font-size: 25px;
    background: #fdec05;
    width: 50%;
    padding: 10px;
    border: 0px; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.header-form >button:hover{
    background: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
/* блик */
@keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    50% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }
  
  .header-form-button:after {
      content: "";
      display: block;
      width: 30px;
      height: 300px;
      margin-left: 60px;
      background: #fff;
      position: absolute;
      left: -40px;
      top: -150px;
      z-index: 1;
      transform: rotate(45deg);
      transition: all 0.1s;
      animation-name: slideme;
      animation-duration: 2s;
      animation-delay: 0.05s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
  }
/* конец блика */
/* вибрация */
.wibro1{
    -webkit-animation: 3s shake1 ease-out infinite;  
    animation: 3s shake1 ease-out infinite;    
}
@keyframes shake1 {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.wibro2{

        -webkit-animation: 3s shake2 ease-out infinite;  
        animation: 3s shake2 ease-out infinite;    
    }
    @keyframes shake2 {
        0% { transform: translate(-1px, -2px) rotate(-1deg); }
        10% { transform: translate(1px, 1px) rotate(0deg); }
        20% { transform: translate(-1px, 2px) rotate(-1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(1px, 2px) rotate(0deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(1px, -2px) rotate(-1deg); }
        90% { transform: translate(-3px, 0px) rotate(1deg); }
        100% { transform: translate(-1px, -1px) rotate(1deg); }
      }
.wibro3{

            -webkit-animation: 3s shake3 ease-out infinite;  
            animation: 3s shake3 ease-out infinite;    
        }
        @keyframes shake3 {
            0% { transform: translate(-1px, -2px) rotate(-1deg); }
            10% { transform: translate(3px, 2px) rotate(0deg); }
            20% { transform: translate(3px, 1px) rotate(-1deg); }
            30% {transform: translate(-1px, 2px) rotate(-1deg);}
            40% { transform: translate(-3px, 1px) rotate(0deg);  }
            50% { transform: translate(1px, 2px) rotate(0deg); }
            60% { transform: translate(1px, -2px) rotate(-1deg); }
            70% { transform: translate(-1px, -1px) rotate(1deg); }
            80% {transform: translate(-3px, 0px) rotate(1deg); }
            90% { transform: translate(1px, -1px) rotate(1deg); }
            100% {  transform: translate(1px, 1px) rotate(0deg);  }
          }
/* конец вибрации */
.confidential{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 40px;
}

.section-title{
    width: 80%;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
}
.card-wrap{
    display: flex;
    justify-content: space-between;
}
.section-title{
    margin: 30px auto;
}
.sert-card{
    display: flex;
    flex: 0 0 23%;
    margin: 0 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sert-img{
    cursor: pointer;
    margin-bottom: 30px;
}
.sert-img>img{
    width: 100%;
    height: 100%;
}
.sert-title{
    margin: 10px;
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
}
.sert-desc{
    font-size: 15px;
    color: #006332;
    text-align: center;
    margin-bottom: 25px;
    line-height: 22px;
}
.sert-about{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.span-price{
    color: #000;
    font-weight: bold;
}
.red{
    color: red;
}

.white {
    color: #fff;
}
.green{
    color: #276e2e;
}
.review{
    background: #276e2e;
}
.yellow{
    color: yellow;
}
.rewiev-card{
    display: flex;
    justify-content: space-around;
    margin: 0 40px;
}
.rewiev-about{
    width: 60%;
}
.rewiev-text{
    line-height: 30px;
    margin-bottom: 40px;
}
.rewiev-img{
    width: 250px;
    height: 360px;
    margin-right: 20px;
}
.rewiev-img > img{
    width: 100%;
    height: 100%;
}
.pt30{
    padding-top: 30px;
}
.swiper-button-prev::after{
    font-size: 50px;
    color: #fff;
    
}
.swiper-button-next::after{
    font-size: 50px;
    color: #fff;
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    background-color: #fff;
}
.line{
    max-width: 982px;
    height: 100px;
    margin-bottom: 30px;
}
.business-goals{
    display: flex;
    justify-content: space-between;
}
.b-goals{
    margin-left: 40px;
    width: 40%;
    line-height: 30px;
}
.n-goals{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 300;
}
.n-goals::marker{
    font-size: 20px;
    font-weight: bold;
    
}
.b-img{
    margin-left: 50px;
    width: 479px;
    height: 410px;
    object-fit: cover;
}
.quality{
    background-color: #006332;
}
.quality-about{
    line-height: 30px;
    font-weight: 300;
    padding-bottom: 40px;
}
.company-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.company-img>img{
    flex: 0 0 25%;
}
.green-b::after{
    color: #276e2e;
}
.examples{
    background-image:  url(../img/smkstandart.jpg);
    /* url()  100% */
    background-repeat: no-repeat;
    background-size: cover;
}
.examples-cards{
    display: flex;
    justify-content: space-between;
}
.examples-cards>img{
    width: 325px;
    height: 430px;
    flex: 0 0 30%;
}
.staff{
    width: 100%;
    margin-bottom: 40px;
}
.standart{
    width: 80%;
    margin-bottom: 30px;
}
.area{
    margin-bottom: 40px;
}
.area-list{
    margin-left: 30px;
    line-height: 30px;
}
.structure{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.dvk{
    width: 50%;
    object-fit: contain;
}
.director{
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direct{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.dir-stand{
    margin-top: 20px;
    margin-left: 40px;
    width: 70%;
    line-height: 30px;
}
.quantuty{
    background: #006332;
}
.q-wrap{
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}
.q-b{
    font-size: 60px;
    margin-right: 50px;
    padding-top: 30px;
}
.q-about{
    width: 70%;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}
.l-green{
    color: #9cffbd;
}
.trust{
    background: #b6f3e8;
}
.trust-cards{
    display: flex;
    flex-direction: column;
}
.trust-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.trust-img{
    width: 80px;
    height: 80px;
    margin-right: 50px;
    object-fit: contain;
}
.trust-title{
    background: #276e2e;
    
}
.trust-text{
    margin-top: 20px;
    line-height: 25px;
}
.m0{
    margin: 0 auto 40px;
}
.how-work{
    margin-bottom: 60px;
}
.subtitle{
    margin-top: -20px;
    text-align: center;
    margin-bottom: 40px;
}
.cycle{
    display: flex;
    justify-content: space-between;
}
.cycle-img{
    max-width: 570px;
    width: 50%;
    margin-right: 40px;
}
.cycle-about{
    background: #006332;
    font-weight: bold;
    line-height: 30px;
    padding-left: 20px;
}
.p30-20{
    padding: 30px 20px;
}
.p30-20>ul{
    text-align: start;
    margin: 20px 30px;
}
.after-cards{
    display: flex;
    justify-content: space-between;
}
.after-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10px 20px 0px;
}
.sert-after{
    flex: 0;
    max-width: 180px;
    max-height: 280px;
    margin-bottom: 25px;
}
.after-text{
    font-size: 16px;
    width: 80%;
    text-align: center;
    align-self: center;
}
.after-about{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
}
.after-area{
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 25px;
}
.bold{
    font-weight: bold;
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
}
.questions-wrapper{
    display: flex;
    justify-content: space-between;
}
.questions-foto{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}
.question-about>ul{
    font-size: 25px;
}
.question-about>ul>li{
    margin-bottom: 15px;
}
.questions{
    margin-bottom: 40px;
}
.w100p{
    width: 100%;
    margin: 0;
    text-align: start;
    margin-bottom: 20px;
}
.blue{
    color: #10f;
}
.messanger{
    font-weight: bold;
    margin-bottom: 20px;
}
.society{
    display: flex;
    justify-content: space-between;
}
.society-text{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.society-text>p{
    margin-bottom: 20px;
}
footer{
    background: #276e2e;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 50px;
    height: 50px;
}
.icon>img{
    width: 50px;
    height: 50px;
}
.footer-links{
    display: flex;
    flex-direction: column;
}
.footer-links>a{
    margin-bottom: 10px;

}
.footer-about{
    display: flex;
    color: white;
}
.footer-about>p{
    font-size: 12px;
}
.schema{
    width: 100%;
    margin-bottom: 10px;
}
._error{
    box-shadow: 0 0 15px red;
} 
.fz-44px{
    font-size: 35px;
}
.fw-bold{
    font-weight: bold;
}
.pb40{
    padding-bottom: 40px;
}
.pb20{
    padding-bottom: 20px;
}
.aic{
    align-items: center;
}



.thanks-main{
    display: flex;

}
.thanks-title{
    font-size: 31px;
    line-height: 35px;
}
.thanks-description{
    padding-bottom: 40px;
}


#magnify {
    display: none;
    /* position: absolute; upd: 24.10.2016 */
    position: fixed;
    max-width: 600px;
    height: auto;
    z-index: 9999;
  }
  #magnify img {
    width: 100%;
  }
  /* затемняющий фон */
  #overlay {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
  }
  /* кнопка закрытия */
  #close-popup {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  #close-popup i {
    width: 30px;
    height: 30px;
    background: url(https://codernote.ru/files/cross.png) no-repeat center center;
    background-size: 16px 16px;
    display: block;
  }
  @keyframes rota {
   25% { transform: rotate(360deg); }
  }
  #close-popup:hover {
    animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }


  .kwiz-wrap{
    display: flex;
    justify-content: space-between;
}
.kwiz-img{
    width: 250px;
}
.kwiz-img>img{
    width: 100%;
}
.list-wrap{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.kwiz-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 50px;
}
.kwiz-desc>li{
    padding-left: 20px;
    margin-bottom: 15px;
}
span.bold{
    color: #000;
    font-weight: bold;
}
.mb0{
    margin-bottom: 0;
}
.popup-fade1 {
	display: none;
}
.popup-fade1:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup1 {
	position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	/* padding: 20px; */
    width: 300px;
    height: 50%;
	width: 70%;
    margin:  auto;
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}
.popup-close1 {
    display: block;
	position: absolute;
	top: 10px;
	right: 10px;
    text-decoration: none;
    height: 10px;
    width: 10px;
}

/* modal */
.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup {
	position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	/* padding: 20px; */
    width: 300px;
    height: 50%;
	width: 70%;
    margin:  auto;
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}
.popup-close {
    display: block;
	position: absolute;
	top: 10px;
	right: 10px;
    text-decoration: none;
    height: 10px;
    width: 10px;
}

.modal-title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}
.modal-text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.comand-container{
    display: flex;
    justify-content: space-between;
    margin: 100px 0 30px;
    flex-wrap: wrap;
}
.card-human{
    flex:  0 0 20%;
    margin-bottom: 50px;
}
.human{
    height: 200px;
    border-radius: 50%;
    width: 200px;
}
.human-about{
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}